<form [formGroup]="form" class="flex flex-col gap-2">
    <p class="text-lg">Controla estoque?</p>
    <div class="flex w-full mb-4">
      <div
        class="bg-gray-700 text-white border border-gray-700 flex flex-1 items-center justify-center p-3 text-lg rounded-l-md">
        Sim</div>
      <div class="border border-gray-700 flex flex-1 items-center justify-center p-3 text-lg rounded-r-md">Não</div>
    </div>
    <div class="flex gap-5">
      <mat-form-field appearance="outline">
        <mat-label>Mínimo</mat-label>
        <input matInput formControlName="minimo" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Máximo</mat-label>
        <input matInput formControlName="maximo" required>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Estoque atual</mat-label>
      <input matInput formControlName="estoque" required>
    </mat-form-field>

  </form>
